<div data-controller="tasks--index--search-card">
  <div class="flex flex-col bg-white border shadow-sm rounded-lg pt-4 px-4">
    <%= form_with url: tasks_path, method: :get, local: true do |f| %>
      <div class="grid gap-4">
        <div>
          <%= f.label "タイトル", for: "search[title]", class: "block text-gray-700 text-xs font-bold mb-1" %>
          <%= f.text_field(
                "search[title]",
                value: @search_params[:title],
                class: "shadow appearance-none border-gray-200 rounded w-full py-2 px-3 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              ) %>
        </div>
        <div>
          <%= f.label "詳細", for: "search[summary]", class: "block text-gray-700 text-xs font-bold mb-1" %>
          <%= f.text_field(
                "search[summary]",
                value: @search_params[:summary],
                class: "shadow appearance-none border-gray-200 rounded w-full py-2 px-3 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              ) %>
        </div>
        <div>
          <%= f.label "優先度", for: "search[priority]", class: "block text-gray-700 text-xs font-bold mb-1" %>
          <%= f.select(
                "search[priority]",
                [["すべて", "-1"], ["高", "high"], ["中", "medium"], ["低", "low"]],
                { selected: @search_params[:priority] },
                class: "shadow py-2 px-3 pr-9 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500"
              ) %>
        </div>
        <div>
          <%= f.label "締切日", for: "search[due_date][start_date]", class: "block text-gray-700 text-xs font-bold mb-1" %>
          <div class="grid grid-cols-11">
            <div class="col-span-5">
              <%= f.text_field(
                    "search[due_date][start_date]",
                    value: @search_params.dig(:due_date, :start_date),
                    class: "shadow appearance-none border-gray-200 rounded w-full py-2 px-3 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
                    "data-tasks--index--search-card-target" => "startDateField"
                  ) %>
            </div>
            <div class="col-span-1 flex justify-center items-center">
              <span class="block">-</span>
            </div>
            <div class="col-span-5">
              <%= f.text_field(
                    "search[due_date][end_date]",
                    value: @search_params.dig(:due_date, :end_date),
                    class: "shadow appearance-none border-gray-200 rounded w-full py-2 px-3 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
                    "data-tasks--index--search-card-target" => "endDateField"
                  ) %>
            </div>
          </div>
          <div class="flex justify-end pt-1">
            <%= button_tag(
                  "リセット",
                  type: "button",
                  class: "inline-flex justify-center items-center gap-2 rounded-md border border-transparent text-xs font-semibold text-blue-500",
                  "data-tasks--index--search-card-target" => "resetButton"
                ) %>
          </div>
        </div>
        <div>
          <%= f.submit "検索", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
