<div data-controller="tasks--index--task-list-card--component">
  <div class="border rounded-lg">
    <table class="w-full table-fixed divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500">タイトル</th>
          <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500">詳細</th>
          <th scope="col" class="px-4 py-3 w-[10%] text-left text-xs font-medium text-gray-500">優先度</th>
          <th scope="col" class="px-4 py-3 w-[15%] text-left text-xs font-medium text-gray-500">締切日</th>
          <th scope="col" class="px-4 py-3 w-[15%] text-left text-xs font-medium text-gray-500"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @tasks.each do |task| %>
          <tr>
            <td class="px-4 py-4 text-sm font-medium text-gray-800 break-words whitespace-pre-wrap"><%= task.title %></td>
            <td class="px-4 py-4 text-sm font-medium text-gray-800 break-words whitespace-pre-wrap"><%= task.summary %></td>
            <td class="px-4 py-4 text-sm font-medium text-gray-800 break-words whitespace-pre-wrap"><%= task.decorate.readable_priority %></td>
            <td class="px-4 py-4 text-sm font-medium text-gray-800 break-words whitespace-pre-wrap"><%= task.decorate.readable_due_date %></td>
            <td class="px-4 py-4 text-sm font-medium text-gray-800 break-words whitespace-pre-wrap"><%= task.decorate.readable_due_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
